@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  padding: 50px;
  font: 14px;
  font-family: 'Cabin', sans-serif;
  background-color: #16E0BD;
}

h1 {
  color: #6320EE;
  font-size: 50px;
}

a {
  color: #8075FF;
}

ul {
  color: black;
}

li {
  gap: 10px;
  margin: 5px;
  font-size: 25px;
  color: #6320EE;
}
form {
  display: inline-block;
}

button {
  font-family: 'Cabin', sans-serif;
}

#delete {
  background-color: #F8333C;
  border-color: #F8333C;
  color: #F8F0FB;
}
.nice-button {
  background-color: #6320EE;
  color: #F8F0FB;
  border-color: #6320EE;
}
#add-new {
  margin-top: 20px;
  width: 200px;
  height: 30px;
  font-size: 16px;
}

#book-title {
  font-weight: bold;
}